$zoom-width: 300px;

#zoom {
  display: none;
  position: absolute;
  top: 0;
  left: 50%;
  width: $zoom-width;
  height: $zoom-width;
  border-radius: $zoom-width / 2;
  margin-left: -$zoom-width / 2;
  margin-top: -$zoom-width / 3;
  background-color: $clr-zoom-back;
}
